parsing does not conform with RFC

Hi,

the IPFIX protocoll allows to mix template and data record sets (see [section 3 of RFC7011](http://tools.ietf.org/html/rfc7011#section-3)). Unfortunately the parser fails in this case. The following code uses the example given in the [wikipedia article on IPFIX](https://en.wikipedia.org/w/index.php?title=IP_Flow_Information_Export&oldid=664605227#Example) to trigger the bug:

```
package ipfix_test

import (
    "encoding/hex"
    "testing"
    "github.com/calmh/ipfix"
)

func TestParsingTemplateAndDataRecords(t *testing.T) {
    packet, _ := hex.DecodeString("000a00405685b3700000000000bc614e000200140100000300080004000c0004000200040100001cc0a800c9c0a80001000000ebc0a800cac0a800010000002a")
    p := ipfix.NewSession()

    msg, err := p.ParseBuffer(packet)
    if err != nil {
        t.Fatal("ParseBuffer failed", err)
    }

    if len(msg.DataRecords) != 1 {
        t.Error("Incorrect number of data records", len(msg.DataRecords))
    }
    if len(msg.TemplateRecords) != 1 {
        t.Error("Incorrect number of template records", len(msg.TemplateRecords))
    }
}
```

Cheers,
tpltnt


Thanks, fixed!
